h1 {
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
}

.heading-section {
    text-align: center;
    margin-bottom: 40px;
}

.heading-section h2 {
    font-size: 2em;
    margin: 0;
    color: #ffffff;
}

.heading-section p {
    font-size: 1.1em;
    color: #aaaaaa;
    margin: 10px 0 0;
}

.role-section {
    margin-bottom: 50px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #aaaaaa;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #2e2e2e;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.grid-item:hover {
    transform: scale(1.05);
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.grid-item:hover .icon-container {
    opacity: 1;
}

.icon-container a {
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.icon-container a:hover {
    color: #00ccff;
}

.icon-container .discord-icon:hover .tooltip {
    display: block;
}

.grid-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.admin {
    color: #f28b82;
}

.core-developer {
    color: #a78bfa;
}

.developer {
    color: #f4b400;
}

.moderator {
    color: #f77c00;
}

.triage {
    color: #f4b400;
}

.former-collaborator {
    color: #888888;
    font-style: italic;
}